# Dependencies
node_modules
.pnpm-store

# Build
.next
dist
build
.turbo

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug / logs
npm-debug.log*
pnpm-debug.log*
*.log

# Testing
coverage
playwright-report
test-results

# Misc
*.tsbuildinfo
